<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682040151198-48au311cbirtfqphb9aaeep5c3s5gjqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682040151198-48au311cbirtfqphb9aaeep5c3s5gjqc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682040151198-j42ujnn90bg3ra45vo2090r2b96kkmus.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgBwYt1zB77Gqq7brJr10SuZq_A97dBic</string>
	<key>GCM_SENDER_ID</key>
	<string>682040151198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bwi.nofoodnomoney</string>
	<key>PROJECT_ID</key>
	<string>no-food-no-money</string>
	<key>STORAGE_BUCKET</key>
	<string>no-food-no-money.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682040151198:ios:8314c6e68bf31cc2f1ff8f</string>
	<key>DATABASE_URL</key>
	<string>https://no-food-no-money.firebaseio.com</string>
</dict>
</plist>