<ion-header>
  <ion-toolbar>
    <ion-title>thank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
  


    <div class="col no-help">
            <div class="wrapper">
                <div class="img-wrap">
                    <img src="../../assets/no-help.png">
                </div>
               <div class="text-wrap">
                    
                    <!-- <div class="other-lang-wrap">
                        <h3 *ngFor="let lang of indianNeedLangs; let i=index" class="other-lang" [class.active]="activeIndianLangIndex == i">{{lang}}</h3>
                    </div>
                    <div class="other-lang-wrap">
                        <h3 *ngFor="let lang of intlNeedLangs; let i=index" class="other-lang" [class.active]="activeIntlLangIndex == i">{{lang}}</h3>
                    </div>  -->
                   <p>Thank you. We have marked your location on map, we hope that someone will help you soon.</p>
                </div>
                <div>
                    <button class="btn" (click)="back()">Thank you</button>
                </div>
            </div>
        </div> 
       
    
    </div>    
</ion-content>
